
:root {
    --primary: #F4BD50;
    --background: #191919;
    --secondary: #261E5A;
    --navbar-height: 50px;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins;
    
}
/* body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
} */

.background {
    display: block;
    width: 100vw;
    /* height: 100vh; */
    opacity: 1;
    z-index: 1;
    background-size: cover;
    background-repeat: no-repeat;
}

.menu__wrapper {
    display: flex;
    position: relative;
    flex-direction: row;
    z-index: 2;
}

.menu__bar {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding: 0 16px;
    gap: 32px;
    background-color: var(--background);
    height: 60px;
    opacity: 0.9;

}

.menu-icon {
    cursor: pointer;
    display: flex;
    height: 32px;
    width: 32px;
}

.navigation {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    align-items: center;
    gap: 24px;
    padding: 0px;
    background-color: var(--background);
    margin-bottom: inherit;
}

.logo svg {
    width: 32px;
    height: 32px;
}

.navigation>li {
    display: flex;
    position: relative;
    cursor: pointer;
    font-size: 1.25rem;
}

.navigation>li>a {
    color: white;
    border-bottom: 2px solid transparent;
    transition: all 0.3s ease;
    text-decoration: none;
    font-weight: 500;
    background-image: linear-gradient(to right,
            var(--primary),
            var(--primary) 50%,
            white 50%);
    background-size: 200% 100%;
    background-position: -100%;
    display: inline-block;
    padding: 3px 0;
    position: relative;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.2s ease-in-out;
}

.navigation>li>a:before {
    content: '';
    background: white;
    display: block;
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0;
    height: 2px;
    transition: all 0.2s ease-in-out;
}

.navigation>li>a:hover {
    background-position: 0;
}

.navigation>li>a:hover::before {
    width: 100%;
}
.img-principal{
    background-image:  url("assets/apostol.jpg") ;
background-repeat: no-repeat;
background-position: center;
/* background-attachment: fixed; */
background-size: cover;
height: 100vh;
 }
 .img-principal::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 20px; /* Ajusta la altura de la sombra según sea necesario */
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.313) 0%, rgba(0, 0, 0, 0.8) 100%);
    pointer-events: none; /* Asegura que la sombra no afecte la interacción con otros elementos */
    z-index: 1; /* Asegura que la sombra esté sobre la imagen de fondo */
    filter: blur(10px); /* Ajusta el valor de desenfoque según sea necesario */
}
 .title-white{
    display: flex;
    justify-content: start;
    align-items: center;
    font-size: 25px;
    padding-left: 15px;
    /* border-bottom: #191919 1px solid; */
    
}
.title-white h2{

    color: var(--background);
    border-bottom: var(--background) 1px solid ;
    border-bottom: double;
}


/* ANEXOS */

.nosotros{
    width: 100%;
    /* height: 100vh; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 80px 32px;
    flex-wrap: wrap;
}
.card{
    width: 320px;
    height: 500px;
    border-radius: 23px;
    overflow: hidden;
    border: 8px solid #191919;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}
.card-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
}
.card-body{
    width: 100%;
    height: 100%;
    top: 0;
    right: -100%;
    position: absolute;
    background: rgba(6, 6, 6, 0.342) ;
    backdrop-filter: blur(10px);
    border-radius: 10px;
    color: wheat;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: 1s;
}
.card:hover .card-body{
    right: 0;
}
.card-title{
    text-transform: uppercase;
    font-size: 50px;
    font-weight: 500;
}

.card-sub-title{
    text-transform: capitalize;
    font-size: 14px;
    font-weight: 300;
}
.card-info{
    font-size: 16px;
    line-height: 25px;
    margin: 40px 0;
    font-weight: 400;
}

.card-btn{
    color: #080808;
    background: #fcfafa;
    padding: 10px 20px;
    width: 120px;
    border-radius: 5px;
    text-transform: capitalize;
    border: none;
    outline: none;
    cursor: pointer;

}
.background-anexos {
    background-color: var(--background);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: start;
    padding: 80px 32px;
}
 
.articles {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: center;
    max-width: 1020px;
    gap: 24px;
}

.title-seccion{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--background);
    padding-top: 24px;
}
.title-seccion h2 {
    color: var(--primary);
    border-bottom: #F4BD50 1px solid;
}
.articles article {
    max-width: 320px;
    height: max-content;
    cursor: pointer;
    position: relative;
    display: block;
    transition: all 0.4s ease-in-out;
    overflow: hidden;
    border-radius: 16px;
}

.articles article a {
    display: inline-flex;
    color: var(--primary);
    text-decoration: none;
}


.articles article h2 {
    margin: 0 0 18px 0;
    font-size: 1.7rem;
    color: var(--secondary);
    transition: color 0.3s ease-out;
}
.articles p{
    display: flex;
    font-size: 16px;
}
.articles article p a{
    color: var(--secondary);
}
.card-image-top {
    max-width: 100%;
    transform-origin: center;
    transition: transform 0.4s ease-in-out;
}
  
.articles article img {
    max-width: 100%;
    transform-origin: top;
    transition: transform 0.4s ease-in-out;
}
  
.article-preview {
    padding: 24px;
    background: white;
}

.articles figure {
    width: 100%;
    height: 200px;
    overflow: hidden;
}

.articles figure img {
    height: 100%;
    aspect-ratio: 16 / 9;
    overflow: hidden;
    object-fit: cover;
}

.articles article:hover img {
    transform: scale(1.5); 
}
    /* FOOTER */
    footer {
        background-color: white;
        position: relative;
        width: 100%;

        min-height: 100px;
        padding: 20px 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
footer .social-icon, footer .menu{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin:  10px 0;
    flex-wrap: wrap;
}

footer .social-icon li,
footer .menu-footer li{
    list-style: none;
}
footer .social-icon li a{
    font-size: 2em;
    color: #261E5A;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
}
footer .social-icon li a:hover{
    transform: translateY(-10px);

}
footer .menu-footer li a{
    font-size: 1.2em;
    color: #0f0f0b;
    margin: 0 10px;
    display: inline-block;
    text-decoration: none;
}
footer .menu-footer li a:hover{
    opacity: 1;
}
footer p {
    color: #F4BD50;
    text-align: center;
    margin-top: 15px;
    font-size: 1.1em;
}
footer .wave {
    position: absolute;
    top: -100px;
    left: 0;
    width: 100%;
    height: 100px;
    background:  url(assets/wave-white.png);
    background-size: 1000px 100px;
}

.footer-wave {
    z-index: 1000;
}

.footer-wave.opacity-1 {
    opacity: 1;
}

.footer-wave.opacity-05 {
    opacity: 0.5;
}

.footer-wave.opacity-02 {
    opacity: 0.2;
}

.footer-wave.opacity-07 {
    opacity: 0.7;
}

.animateWave {
    bottom: 0;
    animation: waveAnimation 4s linear infinite;
}

.animateWave-2 {
    bottom: 10px;
    animation: waveAnimation-2 4s linear infinite;
}

.animateWave-3 {
    bottom: 15px;
    animation: waveAnimation 3s linear infinite;
}

.animateWave-4 {
    bottom: 20px;
    animation: waveAnimation-2 3s linear infinite;
}

@keyframes waveAnimation {
    0% {
        background-position-x: 1000px;
    }
    100% {
        background-position-x: 0px;
    }
}

@keyframes waveAnimation-2 {
    0% {
        background-position-x: 1000px;
    }
    100% {
        background-position-x: 0px;
    }
}
@keyframes animateWave-2 {
    0%{
        background-position-x: 1000px;
    }
    100%{
        background-position-x: 0px;
    }
}

@media (min-width: 600px) {
    .menu-icon {
        display: none;
    }
}

@media (max-width: 600px) {

    .navigation {
        display: none;
    }

    .menu-icon {
        display: block;
    }

    .navigation--mobile {
        top: var(--navbar-height);
        position: absolute;
        right: 0px;
        display: flex;
        padding: 80px 60px;
        min-height: 100%;
        background-color: var(--background);
        gap: 8px;
        flex-direction: column;
        align-items: flex-start;
        opacity: 0.95;
        animation: fadein 0.3s forwards;
    }
  

    @keyframes fadein {
        0% {
            opacity: 0;
            width: 0;
            height: 0;
        }

        100% {
            opacity: 1;
            width: 100%;
            height: calc(100vh - var(--navbar-height));
        }
    }

    .navigation--mobile--fadeout {
        animation: fadeout 300ms forwards;
    }

    @keyframes fadeout {
        0% {
            opacity: 1;
            width: 100%;
            height: calc(100vh - var(--navbar-height));
        }

        100% {
            opacity: 0;
            width: 0;
            height: 0;
        }
    }
 
 


}